{% extends "layout.html" %}
<div class="container">
    {% block content %}
    <div class="main-section">
        <h1 class="register">Hi there, SuperMember!</h1>
        <div class="row">
                <button class="btn one"></button>
                <button class="btn two"></button>
        </div>
        <div class="row">
                <button class="btn three"></button>
                <button class="btn four"></button>
        </div>

        {% endblock content %}
    </div>
</div>

<!-- <div class="col-6">
    <div class="parent">
        <button class="round one">Activities</button>
        <p class=""text-one>
            Check your bookings and upcoming activities
        </p>
        <button class="round two">Restaurant</button>
        <p class=""text-two>
            Have look at our menues and book a table in our restaurant
        </p>
    </div>
</div>
<div class="col-6">
    <div class="parent">
        <button class="round three">Facility Management</button>
        <p class=""text-three>
            The tab is dripping? Your loo is blocked? Get help here.
        </p>
        <button class="round four">Feedback</button>
        <p class=""text-one>
            Tell us what you don't like and (even better) what you like about Super Senior Living.
        </p>
    </div>
</div> -->