{% extends "layout.html" %}

      <!-- Main Section-->
      <div class="container">
         {% block content %}
        <div class="main-section">
         <div class="wrapper">
            <div class="wrapper-text">
               <div class="row align-items-start">
                  <div class="col d-flex justify-content-center">
                     <h2 class="animated bounceInRight" style="animation-delay: 2s;">
                        Discover life at Super Senior Living
                     </h2>
                  </div>
               </div>
               <div class="row align-items-center">
                  <div class="col d-flex justify-content-center">
                     <p>Glossier craft beer letterpress gochujang meditation twee. +1 hell of skateboard listicle gentrify hella.
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div id="section-one" class="row align-items-end">
            <div class="col-3">
               <h5> Find out more <br>
                  <img src="/static/Images/arrow.png" alt="Drawing of an arrow pointing down">
               </h5>
            </div>
            <div class="col-9 d-flex justify-content-center">
               <img class="img0" src="https://res.cloudinary.com/dhloydzi6/image/upload/v1665860841/vector_diverse_seniors_pumbza.png" alt="Computer-made image of a group of seniors">
            </div>
         </div>
         <div class="row line-break">
            <div class="col-4">
               <img class="leave" src="/static/Images/leave.png" alt="">
            </div>
            <div class="col-4">
               <img class="leave" src="/static/Images/leave.png" alt="">
            </div>
            <div class="col-4">
               <img class="leave" src="/static/Images/leave.png" alt="">
            </div>
         </div>
         <div class="container">
            <div class="residence">
               <h3>Our Residence</h3>
               <div class="row">
                  <div class="col">
                     <div class="residence-txt">
                        <p>Literally godard organic skateboard trust fund. 3 wolf moon bushwick mixtape poke lumbersexual williamsburg.</p>
                     </div>
                  </div>
                  <div class="carousel" style="max-width: 500px;">
                     <img class="slides" src="/static/Images/Carousel/iloveimg-resized/apartment1.jpg" alt="Example of an appartement">
                     <img class="slides" src="/static/Images/Carousel/iloveimg-resized/community1.jpeg" alt="Group of seniors in the common area of Super Senior Living">
                     <img class="slides" src="/static/Images/Carousel/iloveimg-resized/garden1.jpeg" alt="Garden area ">
                     <img class="slides" src="/static/Images/Carousel/pool.jpeg" alt="Pool area ">
                  </div>
               </div>
            </div>
            <div class="row line-break">
              <div class="col-4">
                 <img class="leave" src="/Images/leave.png" alt="">
              </div>
              <div class="col-4">
                 <img class="leave" src="/Images/leave.png" alt="">
              </div>
              <div class="col-4">
                 <img class="leave" src="/Images/leave.png" alt="">
              </div>
           </div>
            <div class="residents">
               <h3 class = "find-out">Find out what our residents have to say</h3>
               <div class="row">
                  <div class="col-4">
                     <div class="card" style="width: 18rem;">
                        <img src="https://res.cloudinary.com/dhloydzi6/image/upload/v1665860762/old_friends_omit1v.jpg" class="card-img-top lazy" alt="Two male seniors sitting next to each other and laughing">
                        <div class="card-body">
                           <h5 class="card-title">"We became BFFs"</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-4">
                     <div class="card" style="width: 18rem;">
                        <img src="https://res.cloudinary.com/dhloydzi6/image/upload/v1665860763/jogging_bscric.jpg" class="card-img-top lazy" alt="Female and male senior jogging in the park">
                        <div class="card-body">
                           <h5 class="card-title">"We love to keep fit!"</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-4">
                     <div class="card" style="width: 18rem;">
                        <img src="https://res.cloudinary.com/dhloydzi6/image/upload/v1665860763/old_woman_r8q2i6.jpg" class="card-img-top lazy" alt="Senior lady wearing glasses and gesturing with both hands sign of the horns">
                        <div class="card-body">
                           <h5 class="card-title">"It rocks!!"</h5>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% endblock content %}
      </div>

